<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jluzh.sysmanagement.infra.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.jluzh.sysmanagement.domain.entity.Menu">
        <!--@mbg.generated-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sort" jdbcType="DECIMAL" property="sort"/>
        <result column="href" jdbcType="VARCHAR" property="href"/>
        <result column="target" jdbcType="VARCHAR" property="target"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="is_show" jdbcType="CHAR" property="isShow"/>
        <result column="permission" jdbcType="VARCHAR" property="permission"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="del_flag" jdbcType="CHAR" property="delFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, parent_id, `name`, sort, href, target, icon, is_show, permission, update_by,
        update_date, remarks, del_flag
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from pm_sys_menu
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from pm_sys_menu
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.jluzh.sysmanagement.domain.entity.Menu"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into pm_sys_menu (parent_id, `name`, sort,
        href, target, icon,
        is_show, permission, update_by,
        update_date, remarks, del_flag
        )
        values (#{parentId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sort,jdbcType=DECIMAL},
        #{href,jdbcType=VARCHAR}, #{target,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR},
        #{isShow,jdbcType=CHAR}, #{permission,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR},
        #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.jluzh.sysmanagement.domain.entity.Menu" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into pm_sys_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="href != null">
                href,
            </if>
            <if test="target != null">
                target,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="isShow != null">
                is_show,
            </if>
            <if test="permission != null">
                permission,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=DECIMAL},
            </if>
            <if test="href != null">
                #{href,jdbcType=VARCHAR},
            </if>
            <if test="target != null">
                #{target,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="isShow != null">
                #{isShow,jdbcType=CHAR},
            </if>
            <if test="permission != null">
                #{permission,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jluzh.sysmanagement.domain.entity.Menu">
        <!--@mbg.generated-->
        update pm_sys_menu
        <set>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=DECIMAL},
            </if>
            <if test="href != null">
                href = #{href,jdbcType=VARCHAR},
            </if>
            <if test="target != null">
                target = #{target,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="isShow != null">
                is_show = #{isShow,jdbcType=CHAR},
            </if>
            <if test="permission != null">
                permission = #{permission,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jluzh.sysmanagement.domain.entity.Menu">
        <!--@mbg.generated-->
        update pm_sys_menu
        set parent_id = #{parentId,jdbcType=INTEGER},
        `name` = #{name,jdbcType=VARCHAR},
        sort = #{sort,jdbcType=DECIMAL},
        href = #{href,jdbcType=VARCHAR},
        target = #{target,jdbcType=VARCHAR},
        icon = #{icon,jdbcType=VARCHAR},
        is_show = #{isShow,jdbcType=CHAR},
        permission = #{permission,jdbcType=VARCHAR},
        update_by = #{updateBy,jdbcType=VARCHAR},
        update_date = #{updateDate,jdbcType=TIMESTAMP},
        remarks = #{remarks,jdbcType=VARCHAR},
        del_flag = #{delFlag,jdbcType=CHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sysmanagement.pm_sys_menu
        where 1=1
        <if test="id != null">
            and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="parentId != null">
            and parent_id = #{parentId,jdbcType=INTEGER}
        </if>
        <if test="name != null">
            and `name` = #{name,jdbcType=VARCHAR}
        </if>
        <if test="sort != null">
            and sort = #{sort,jdbcType=DECIMAL}
        </if>
        <if test="href != null">
            and href = #{href,jdbcType=VARCHAR}
        </if>
        <if test="target != null">
            and target = #{target,jdbcType=VARCHAR}
        </if>
        <if test="icon != null">
            and icon = #{icon,jdbcType=VARCHAR}
        </if>
        <if test="isShow != null">
            and is_show = #{isShow,jdbcType=CHAR}
        </if>
        <if test="permission != null">
            and permission = #{permission,jdbcType=VARCHAR}
        </if>
        <if test="updateBy != null">
            and update_by = #{updateBy,jdbcType=VARCHAR}
        </if>
        <if test="updateDate != null">
            and update_date = #{updateDate,jdbcType=TIMESTAMP}
        </if>
        <if test="remarks != null">
            and remarks = #{remarks,jdbcType=VARCHAR}
        </if>
        <if test="delFlag != null">
            and del_flag = #{delFlag,jdbcType=CHAR}
        </if>
    </select>
    <select id="selectByRoleId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pm_sys_role_menu role left join pm_sys_menu menu on role.menu_id = menu.id
        where role.role_id = #{roleId,jdbcType=INTEGER}
    </select>
    <delete id="deletePermission">
        delete
        from pm_sys_role_menu
        where menu_id = #{menuId,jdbcType=INTEGER}
          and role_id = #{roleId,jdbcType=INTEGER}
    </delete>
    <insert id="insertMenuPermission">
        insert into pm_sys_role_menu(role_id, menu_id)
        VALUES (#{roleId,jdbcType=INTEGER}, #{menuId,jdbcType=INTEGER})
    </insert>
    <delete id="deletePermissionByMenuId">
        delete
        from pm_sys_role_menu
        where menu_id = #{menuId,jdbcType=INTEGER}
    </delete>
</mapper>