<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jluzh.sysmanagement.infra.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.jluzh.sysmanagement.domain.entity.User">
        <!--@mbg.generated-->
        <id column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="dept_id" jdbcType="INTEGER" property="deptId" />
        <result column="login_name" jdbcType="VARCHAR" property="loginName" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="user_no" jdbcType="VARCHAR" property="userNo" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="mobile" jdbcType="VARCHAR" property="mobile" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    </resultMap>
    <sql id="all_user_columns">
            USER_ID,
            DEPT_ID,
            LOGIN_NAME,
            `PASSWORD`,
            USER_NO,
            USER_NAME,
            EMAIL,
            PHONE,
            MOBILE,
            UPDATE_BY,
            UPDATE_DATE,
            REMARKS
    </sql>

    <select id="selectUserList" parameterType="com.jluzh.sysmanagement.domain.entity.User"
            resultType="com.jluzh.sysmanagement.domain.entity.User">
        select
        <include refid="all_user_columns"/>
        from sysmanagement.pm_sys_user
        where 1=1
        <if test="deptId != null">
            and dept_id = #{deptId,jdbcType=BIGINT}
        </if>
        <if test="loginName != null">
            and login_name = #{loginName,jdbcType=VARCHAR}
        </if>
        <if test="updateTime != null">
            and update_date = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="remarks != null">
            and `remarks` = #{remarks,jdbcType=VARCHAR}
        </if>
        <if test="password != null">
            and password = #{password,jdbcType=VARCHAR}
        </if>
        <if test="userNo != null and userNo != ''">
            and user_no = #{userNo,jdbcType=VARCHAR}
        </if>
        <if test="userName != null and userName != ''">
            and user_name = #{userName,jdbcType=VARCHAR}
        </if>
        <if test="email != null and email != ''">
            and email = #{email,jdbcType=VARCHAR}
        </if>
        <if test="phone != null and phone != ''">
            and phone = #{phone,jdbcType=VARCHAR}
        </if>
        <if test="mobile != null and mobile != ''">
            and mobile = #{mobile,jdbcType=VARCHAR}
        </if>
        <if test="updateBy != null and updateBy != ''">
            and update_by = #{updateBy,jdbcType=VARCHAR}
        </if>
        <if test="deptId != null">
            and dept_id = #{deptId,jdbcType=BIGINT}
        </if>
    </select>
    <select id="login" resultType="com.jluzh.sysmanagement.domain.entity.User">
        select
        <include refid="all_user_columns"/>
        from sysmanagement.pm_sys_user
        where 1=1
        and login_name = #{loginName,jdbcType=VARCHAR}
        and password = #{password,jdbcType=VARCHAR}
    </select>
    <select id="selectByMail" resultType="com.jluzh.sysmanagement.domain.entity.User">
        select
        <include refid="all_user_columns"/>
        from sysmanagement.pm_sys_user
        where email = #{mail,jdbcType=VARCHAR}
    </select>
    <update id="updateSelective">
        update pm_sys_user
        <set>
            <if test="deptId != null">
                dept_id = #{deptId,jdbcType=BIGINT},
            </if>
            <if test="loginName != null">
                login_name = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_date = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                `remarks` = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR} ,
            </if>
            <if test="userNo != null and userNo != ''">
                user_no = #{userNo,jdbcType=VARCHAR} ,
            </if>
            <if test="userName != null and userName != ''">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="email != null and email != ''">
                email = #{email,jdbcType=VARCHAR} ,
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone,jdbcType=VARCHAR} ,
            </if>
            <if test="mobile != null and mobile != ''">
                mobile = #{mobile,jdbcType=VARCHAR} ,
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy,jdbcType=VARCHAR} ,
            </if>
            <if test="deptId != null">
                dept_id = #{deptId,jdbcType=BIGINT} ,
            </if>
        </set>
        where user_id = #{userId,jdbcType=BIGINT}
    </update>
    <select id="selectRoleIdByUserId" resultType="java.lang.Integer">
        select role_id
        from pm_sys_user_role
        where user_id = #{userId,jdbcType=INTEGER}
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="all_user_columns" />
        from pm_sys_user
        where user_id = #{userId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from pm_sys_user
        where user_id = #{userId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="user_id" keyProperty="userId" parameterType="com.jluzh.sysmanagement.domain.entity.User" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into pm_sys_user (dept_id, login_name, `password`,
        user_no, user_name, email,
        phone, mobile, update_by,
        update_date, remarks, del_flag
        )
        values (#{deptId,jdbcType=INTEGER}, #{loginName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
        #{userNo,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
        #{phone,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR},
        #{updateTime,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" keyColumn="user_id" keyProperty="userId" parameterType="com.jluzh.sysmanagement.domain.entity.User" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into pm_sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptId != null">
                dept_id,
            </if>
            <if test="loginName != null">
                login_name,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="userNo != null">
                user_no,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTime != null">
                update_date,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptId != null">
                #{deptId,jdbcType=INTEGER},
            </if>
            <if test="loginName != null">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="userNo != null">
                #{userNo,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jluzh.sysmanagement.domain.entity.User">
        <!--@mbg.generated-->
        update pm_sys_user
        <set>
            <if test="deptId != null">
                dept_id = #{deptId,jdbcType=INTEGER},
            </if>
            <if test="loginName != null">
                login_name = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="userNo != null">
                user_no = #{userNo,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_date = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
        </set>
        where user_id = #{userId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jluzh.sysmanagement.domain.entity.User">
        <!--@mbg.generated-->
        update pm_sys_user
        set dept_id = #{deptId,jdbcType=INTEGER},
        login_name = #{loginName,jdbcType=VARCHAR},
        `password` = #{password,jdbcType=VARCHAR},
        user_no = #{userNo,jdbcType=VARCHAR},
        user_name = #{userName,jdbcType=VARCHAR},
        email = #{email,jdbcType=VARCHAR},
        phone = #{phone,jdbcType=VARCHAR},
        mobile = #{mobile,jdbcType=VARCHAR},
        update_by = #{updateBy,jdbcType=VARCHAR},
        update_date = #{updateTime,jdbcType=TIMESTAMP},
        remarks = #{remarks,jdbcType=VARCHAR}
        where user_id = #{userId,jdbcType=INTEGER}
    </update>
</mapper>