<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jluzh.sysmanagement.infra.mapper.UserMapper">
    <sql id="all_user_columns">
            USER_ID,
            DEPT_ID,
            LOGIN_NAME,
            `PASSWORD`,
            USER_NO,
            USER_NAME,
            EMAIL,
            PHONE,
            MOBILE,
            UPDATE_BY,
            UPDATE_DATE,
            REMARKS
    </sql>

    <select id="selectUserList" parameterType="com.jluzh.sysmanagement.domain.entity.User"
            resultType="com.jluzh.sysmanagement.domain.entity.User">
        select
        <include refid="all_user_columns"/>
        from sysmanagement.pm_sys_user
        where 1=1
        <if test="deptId != null">
            and dept_id = #{deptId,jdbcType=BIGINT}
        </if>
        <if test="loginName != null">
            and login_name = #{loginName,jdbcType=VARCHAR}
        </if>
        <if test="updateTime != null">
            and update_date = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="remarks != null">
            and `remarks` = #{remarks,jdbcType=VARCHAR}
        </if>
        <if test="password != null">
            and password = #{password,jdbcType=VARCHAR}
        </if>
        <if test="userNo != null and userNo != ''">
            and user_no = #{userNo,jdbcType=VARCHAR}
        </if>
        <if test="userName != null and userName != ''">
            and user_name = #{userName,jdbcType=VARCHAR}
        </if>
        <if test="email != null and email != ''">
            and email = #{email,jdbcType=VARCHAR}
        </if>
        <if test="phone != null and phone != ''">
            and phone = #{phone,jdbcType=VARCHAR}
        </if>
        <if test="mobile != null and mobile != ''">
            and mobile = #{mobile,jdbcType=VARCHAR}
        </if>
        <if test="updateBy != null and updateBy != ''">
            and update_by = #{updateBy,jdbcType=VARCHAR}
        </if>
        <if test="deptId != null">
            and dept_id = #{deptId,jdbcType=BIGINT}
        </if>
    </select>
    <select id="login" resultType="com.jluzh.sysmanagement.domain.entity.User">
        select
        <include refid="all_user_columns"/>
        from sysmanagement.pm_sys_user
        where 1=1
        and user_name = #{userName,jdbcType=VARCHAR}
        and password = #{password,jdbcType=VARCHAR}
    </select>
    <select id="selectByMail" resultType="com.jluzh.sysmanagement.domain.entity.User">
        select
        <include refid="all_user_columns"/>
        from sysmanagement.pm_sys_user
        where email = #{mail,jdbcType=VARCHAR}
    </select>
    <update id="updateSelective">
        update pm_sys_user
        <set>
            <if test="deptId != null">
                dept_id = #{deptId,jdbcType=BIGINT},
            </if>
            <if test="loginName != null">
                login_name = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_date = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                `remarks` = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR} ,
            </if>
            <if test="userNo != null and userNo != ''">
                user_no = #{userNo,jdbcType=VARCHAR} ,
            </if>
            <if test="userName != null and userName != ''">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="email != null and email != ''">
                email = #{email,jdbcType=VARCHAR} ,
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone,jdbcType=VARCHAR} ,
            </if>
            <if test="mobile != null and mobile != ''">
                mobile = #{mobile,jdbcType=VARCHAR} ,
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy,jdbcType=VARCHAR} ,
            </if>
            <if test="deptId != null">
                dept_id = #{deptId,jdbcType=BIGINT} ,
            </if>
        </set>
        where user_id = #{userId,jdbcType=BIGINT}
    </update>

</mapper>